 <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        Oops! There were <%= pluralize(@user.errors.count, "error")%> with the information you submitted:
      </h2>
      <p>Here's what you need to fix:</p>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
            <% end %>
      </ul>
    </div>
 <% end %>