    <h1 class="round">Welcome!</h1> <br><br>
    <p>Welcome to your <i>Magic the Gathering</i> virtual ShoeBox! This is a site where you can come to keep track of
      your growing 'ShoeBox' collection of <i>Magic</i> cards.</p>
    <p>
      <%= link_to 'Sign Up!', signup_path, class: "signup_button round" %>
    </p>